{% extends "base.twig" %}

{% block morehead %} 
    <link rel="stylesheet" href="./assets/css/dashboard.css">
    <script type="module" crossorigin src="./assets/js/three/{{ jsPath }}"></script>

{% endblock %}
{% block title %}Cloud de {{user.name}} {% endblock %}

{% block content %}

    <div class="flex col gap-36 ">
        <div class="userCard">
            ☁️ Cloud de {{ user.name }}
        </div>
        <div class="flex col gap-12">
            <h2>Vos fichiers</h2>

            <div class="listfile">
                {% for file in files %}
                    <div class="file" data-file="/getfile/{{ file.id }}" data-extention="{{ file.original_name|split('.')|last }}">
                        <div class="preview"> 
                        </div>

                        <div class="flex col gap-12 w-100 pad-12">
                            <p class='fileTitle'>{{ file.title }}</p>
                            <p class='fileDescription'>{{ file.description }}</p>
                            <p class='fileOriginalName'>Nom original: {{ file.original_name }}</p>

                        </div>
                        <div class="flex row gap-12 w-100">

                                <a href="/getfile/{{ file.id }}" class="w-100 fileBtn">
                                    <span class="material-symbols-outlined">
                                        download
                                    </span>
                                    Télécharger
                                </a>

                                <a href="/delete/{{ file.id }}"><span class="material-symbols-outlined fileBtn">delete</span></a>

                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>


    <style>

        #content{
            width: 100%;
            padding: 20px 102px;
        }
        h2{
            margin: 12px 0;
        }
        body{
            min-height: 100vh;
            width: 100vw;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
        form{
            flex-direction: column;
            width: 100%;
            max-width: 550px;
            min-width: 200px;
            margin: 0 auto;
            padding: 20px;
            background-color: var(--surface);
            border-radius: 18px;
        }
        textarea{
            height: 200px;
        }
{% endblock %}